.startup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 1001;
}

.startup div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.awssld__startUp {
  background-color: transparent;
}
