.lettering {
  color: #fff;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif !important;
  text-align: center;
  position: relative;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 4rem;
  margin-right: 4rem;
  padding: 1.5rem;
  background: RGBA(0, 0, 0, 0.6);
  border-radius: 25px;
  border: 2px solid #002654;
}

.lettering h1 {
  font-size: calc(1.75rem + 0.5vw);
  line-height: 40px;
  margin-bottom: 24px;
}

.lettering p {
  font-size: calc(1rem + 0.5vw);
  line-height: 24px;
  margin-bottom: 8px;
}
